<nav class="sidebar">
    
    <div>
    <div class="head">
        <i onclick="openSidebar()"  id="icon" class="material-icons">menu</i>
    </div>
    <ul>
       <a href="/dashboard">
        <i class="material-icons">home</i>
        <span>Dashboard</span>
       </a>
       <a href="/profile">
        <i class="material-icons">person</i>
        <span>Profile</span>
       </a>

       <a href="board">
        <i class="material-icons">emoji_events</i>
        <span>Leatherboard</span>
       </a>
    </ul>
</div>
<div>
    <ul>
        <a href="/about">
            <i class="material-icons">help</i>
            <span>About</span>
           </a>
           <a href="/logout">
            <i class="material-icons">logout</i>
            <span>Log out</span>
           </a>
    </ul>
</div>
</nav>