<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <style>
  .des{
    padding: 10px;
}
.des p{
    margin: 15px 0;
}
    </style>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="overlay open"></div>
    <main class="main open">
      <header>
        <div class="head">
          <i onclick="openSidebar()" id="icon" class="material-icons hide">menu</i>
          <h2 style="margin-left: 10px">About</h2>
        </div>
      </header>
    
      <section class="section">
        <div class="des">
            <h1>FunCash</h1>
            <p>
               Welcome to "FunCash" – the website that makes earning money a fun and rewarding experience! With FunCash, we've revolutionized the way you earn and share money by adding a playful twist to the traditional referral system.
            </p>
        <p>
            Imagine a world where sharing is not only caring but also incredibly amusing! With FunCash, you get to be a part of an exciting referral program that not only benefits you but also brings joy to your friends and family. Here's how it works:</p>
                
               <p> Step into the world of FunCash by signing up for an account. Once you're in, you'll have access to your unique referral link. Now, get ready to spread the laughter and joy!</p>
                
              <p>  Refer your friends, family, or even your favorite colleague, and they will instantly receive a delightful surprise of $250 as a warm welcome from us. Who doesn't love a pleasant surprise?
            </p>
              <p>  But here's the cherry on top – when your referred friend signs up and starts enjoying the FunCash experience, you get to enjoy a whopping $500 straight to your account! That's right; it's raining money, and it's all thanks to your joyous connections.</p>
                
              <p>  Sharing has never been this rewarding and entertaining! Not only do you get to fatten your wallet, but you also become the bearer of happiness for others. At FunCash, we believe that making money should be an enjoyable journey, and we're here to add a smile to your face at every step of the way.
            </p>
              <p>  Our platform is built on a foundation of trust, security, and transparency. With state-of-the-art encryption and robust security measures, you can be confident that your earnings are safe and sound.</p>
                
              <p>  So, what are you waiting for? Join the FunCash family and let the good times roll! Get ready to share the joy, spread the laughter, and reap the rewards. Together, we'll make money-making a truly fun and unforgettable experience!</p>
                
                Come on board and let's embark on this delightful adventure of earning money the FunCash way!
                <p ><span style="color: orangered;">Note : </span> This website dont pay any kind of money just made for fun purpose</p>
        </div>
            </section>

    </main>

    <%- include('./partials/slider'); %>

    <script src="main.js"></script>

  </body>
</html>
